body {
  font-family: "Oswald", sans-serif;
  font-size: larger;
}

.container {
  text-align: center;
}

.page-header__item {
  max-width: 25%;
}

ul {
  padding-left: 0;
}

ul,
li {
  margin: 10px;
  list-style-type: none;
}

button {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
}

@media screen and (max-width: 760px) {
  body {
    font-size: 75%;
  }
}
