body {
  font-family: "Oswald", sans-serif;
  font-size: larger;
}

.page-header__item {
  max-width: 25%;
  margin-top: 10px;
}

.loading-message {
  text-align: center;
}

.hidden {
  display: none;
}

ul {
  padding-left: 0;
}

ul,
li {
  margin: 10px;
  list-style-type: none;
}

.list-button {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: none;
}

.modal-img {
  float: left;
  width: 25%;
}

.scroll-dialogue {
  position: fixed;
  right: -2px;
  bottom: 0px;
  background: lightgray;
  border: 1px solid black;
  width: 5%;
  height: 30px;
}

.scroll-dialogue h5 {
  color: black;
  margin: 0 auto;
  padding-top: 2px;
  font-weight: lighter;
  text-align: center;
}

@media screen and (max-width: 760px) {
  body {
    font-size: 75%;
  }
}
